* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

.App {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 0.04947916666666663) 100%
  );
}
/* NAVBAR */
.navbar {
  height: 3rem;
  padding: 1rem;
  background: rgb(237, 185, 197);
  background: linear-gradient(
    90deg,
    rgba(237, 185, 197, 0.8001794467787114) 0%,
    rgba(231, 77, 229, 0.604079131652661) 85%
  );
  display: flex;
  align-items: center;
}
.searchbar {
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 0 auto;
}
.searchbar input {
  min-width: 50vw;
  height: 50px;
  outline-color: orange;
  border: none;
  color: black;
  font-size: 1.6rem;
  padding: 0.4rem;
  border-radius: 10px 0 0 10px;
}
.searchbar input::placeholder {
  font-size: 1.2rem;
  padding: 0.4rem;
  font-weight: bolder;
  color: black;
}
.searchbar button {
  font-size: 1.2rem;
  padding: 0.4rem;
  font-weight: bolder;
  color: black;
  height: 100%;
  border: none;
  border-radius: 0 10px 10px 0;
}
.searchbar button:hover {
  cursor: pointer;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
  margin: 1rem 1rem;
}
.listItem {
  box-shadow: 1px 2px 15px -1px rgba(0, 0, 0, 0.356);
  word-wrap: break-word;
  word-break: keep-all;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  padding: 1rem 1rem;
}

.listItem h2 {
  font-size: 1.7rem;
}
.listItem p {
  font-size: 1.2rem;
  font-style: italic;
}
.listItem a {
}
